<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @{
        await Html.RenderPartialAsync("HeaderPartial");
    }
    <main class="main">
        @RenderBody()
    </main>
    @{
        await Html.RenderPartialAsync("FooterPartial");
    }
</body>
</html>
