<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" asp-href-include="~/css/**/*.css"/>
</head>
<body>
    @{
        await Html.RenderPartialAsync("HeaderPartial");
    }
    @RenderBody()
    @{
        await Html.RenderPartialAsync("FooterPartial");
    }
</body>
</html>
