<article class="recipe-card gray-box flex-content">
	<div class="recipe-img">
	</div>
	<div class="recipe-content">
		<div class="recipe__header flex-content justify-beetwen">
			<h2 class="recipe-header">Очень вкусный суп</h2>
			<a class="recipe-link green-link">Читать далее -></a>
		</div>
		<div class="recipe-desc">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</div>
		<div class="recipe-bottom flex-content justify-beetwen">
			<span class="text-gray">40 мин</span>
			<div class="recipe-author">
				<a class="recipe-author text-gray">@@Username</a>
				<span class="recipe-date text-gray">23.09.22</span>
			</div>
		</div>
	</div>
</article>