<main class="container main flex-content">
	<aside class="main__aside-menu gray-box">
		<ul class="nav nav-dark nav-v">
			<li class="nav-item">
				<a class="nav-link">Салаты и закуски</a>
			</li>
			<li class="nav-item">
				<a class="nav-link">Супы</a>
			</li>
			<li class="nav-item">
				<a class="nav-link">Вторые блюда. Мясо.</a>
			</li>
			<li class="nav-item">
				<a class="nav-link">Вторые блюда. Птица.</a>
			</li>
			<li class="nav-item">
				<a class="nav-link">Вторые блюда. Рыба и морепродукты.</a>
			</li>
			<li class="nav-item">
				<a class="nav-link">Вторые блюда. Вегетарианские</a>
			</li>
			<li class="nav-item">
				<a class="nav-link">Гарниры и соусы.</a>
			</li>
			<li class="nav-item">
				<a class="nav-link">Хлеб и выпечка.</a>
			</li>
			<li class="nav-item">
				<a class="nav-link">Десерты.</a>
			</li>
			<li class="nav-item">
				<a class="nav-link">Напитки. Без алкоголя.</a>
			</li>
			<li class="nav-item">
				<a class="nav-link">Напитки. Алкоголь.</a>
			</li>
		</ul>
	</aside>
	<div class="main-content list-item">
		@for(int i = 0; i < 10; i++) {
			await Html.RenderPartialAsync("ArticleRecipePartial");
		}
	</div>
</main>

@{
	ViewBag.Title = "Рецепты";
}